.full_page_container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-right: 25px;
  margin-left: 25px;
}
.full_page_poster {
  width: 30%;
}
.movie_info {
  padding: 2%;
  width: 66%;
  color: rgb(226, 216, 140);
  font-size: 30px;
}
.movie_description {
  text-align: justify;
}
@media screen and (max-width: 600px) {
  .full_page_container {
    margin-right: 0;
    margin-left: 0;
  }
  .full_page_poster {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
  .movie_info {
    width: 100%;
    font-size: 4vw;
  }
}
