.movie_card {
  margin: 5px;
  margin-right: 15px;
  transition: all 0.5s;
  object-fit: contain;
  margin-bottom: 10px;
  align-self: center;
  max-width: 200px;
}

.movie_title {
  color: wheat;
  text-decoration: none;
}
.movie_card:hover {
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1.1);
  cursor: pointer;
}
.rating_class {
  display: flex;
  justify-content: space-between;
}
.img_class {
  max-width: 200px;
}
